
</div>
  <div class="footer">
    <i class="fab fa-twitter icon"></i>
    <i class="fab fa-facebook-f icon"></i>
    <i class="fab fa-instagram icon"></i>
    <i class="fas fa-envelope icon"></i>
    <p>Made with ❤️ by Gunjan</p>
  </div>
</body>
</html>
