<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Roboto+Condensed&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="icon" href="/images/book.jpg">

  <nav class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <p class="navbar-brand" style="display: flex;">
          <i class="fas fa-book"></i>DAILY JOURNAL
        </p>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <li id="index"><a href="/index">HOME</a></li>
          <!-- <li id="compose"><a href="/compose">COMPOSE</a></li> -->
          <li id="home"><a href="/myblogs">NOTES</a></li>
          <li id="about"><a href="/todolist">TO-DO LIST</a></li>
          <li id="logout"><a href="/">LOG OUT</a></li>
        </ul>

      </div>
    </nav>
  </head>

  <body>
