<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Roboto+Condensed&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="icon" href="/images/book.jpg">
  </head>

  <body>
        <div class="intro">
            <div style="padding: 4.5rem 0rem 3rem 0rem;">
            <i class="fas fa-book fa-6x"></i>
            <h1 style="color: white;">Daily Journal</h1>
            <p class="lead">Publish your writings, your way</p>
            <hr style="height: 2rem;">
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            &nbsp;<a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
            </div>
        </div>
      
 <%- include('partials/footer') %>