<%- include("partials/header"); -%>

<div class="home">
<section id="title">
<div class="intro">
    <h1 style="color: white;">Publish your writings, your way</h1>
    <h3>Note down your memories and events. It's easy and free</h3>

    <div class="image">
        <img src="https://user-images.githubusercontent.com/81305824/145671349-24af215d-1a65-4b8b-b1b7-23844b9c82c9.jpg" height="250px" width="350px">
    </div>

    <br>
    <br>
    <form action="/compose">
    <button type="submit" class="btn btn-warning">Create</button>
    </form>
    <br>
</div>

<!--
<div class="memories">
    <div class="row" style="padding: 3rem 0rem;">
      <div class="col-lg-6">
        <img src="https://user-images.githubusercontent.com/81305824/146252442-edd93eda-15b5-4db9-8495-b9499b767005.png" height="300rem" width="300rem">
      </div>
      <div class="col-lg-6" style="padding: 4rem 2rem;">
        <h3 style="font-size: 5rem;">Hang on to Memories!</h3> <br>
        <p style="font-size: 2rem;">Save moments that matter! We let you write thousands of your stories everyday. Whether you’re looking for a tool to record your daily emotions and activities in a reflective journal, keep track of milestones in a food diary or pregnancy journal, or even record your dreams in a dream journal, we have got you covered.</p>
      </div>
    </div>
  </div>

  <div class="join">
    <div class="row" style="padding: 3rem 0rem;">
      <div class="col-lg-6" style="padding: 4rem 2rem;">
        <h3 style="font-size: 5rem;">Join Millions of Others!</h3> <br>
        <p style="font-size: 2rem;">Whether sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company. Discover why millions of people have published their passions here. We give you the tools you need to focus on the ideas you want to preserve, rather than the process of writing itself.</p>
      </div>
      <div class="col-lg-6">
        <img src="https://user-images.githubusercontent.com/81305824/146254478-27b5bbe3-fdbd-4c0d-8a6a-3ca070e441e6.png" height="270rem" width="300rem">
      </div>
    </div>
  </div>
  -->

</section>

<%- include("partials/footer"); -%>
