<%- include("partials/header"); -%>

    <div class="decisionbox">
        <h1 style="color: #F2789F;">Do you want to write new note?</h1>

        <div class="image">
            <img src="https://github.com/gunjan-g/power_she_pre/assets/81305824/9838c0cb-6d74-4dd5-bd31-d49a9586f25c" height="300px" width="300px">
        </div>

        <br>
        <br>
        <a href="/compose">
        <button type="submit" class="btn btn-danger">Yes</button>
        </a> &nbsp; &nbsp;
        <a href="/mynotes">
            <button type="submit" class="btn btn-danger">No</button>
            </a>
        <br>
    </div>


<%- include("partials/footer"); -%>